#spinn {
		-webkit-animation: rotation 2s infinite linear;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}